<div class="container">
    <h2>Login</h2>
    <%- messages() %>

    <form id="loginForm "action="/account/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="account_password" required placeholder="Enter your password">
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
   <p>No Account? <a href ="/account/register" ><u>Sign-up</u></a></p>
    </form>
</div>