<h1 id="homeTitle">Welcome to CSE Motors!</h1>
<section class="hero">
  <div class="hero-image">
    <picture class="heroImage">
      <source
        media="(min-width: 401px)"
        srcset="/images/vehicles/delorean.jpg"
      />
      <img src="/images/vehicles/delorean-tn.jpg" alt="delorean icon" />
    </picture>
  </div>
  <div id="hero-content-wrapper">
    <div class="hero-header">
      <h2>DMC Delorean</h2>
      <p>3 Cup holders</p>
      <p>Superman doors</p>
      <p>Fuzzy dice!</p>
    </div>
    <div class="hero-btn">
      <button onclick="window.location.href='#';">Own Today</button>
    </div>
  </div>
</section>

<section class="content">
  <div class="first-content">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like travelling in time" (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day" (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>

  <div class="upgrade-content">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-section">
      <div class="u" id="upgradeOneContent">
        <div class="upgradeImg">
          <img src="/images/upgrades/flux-cap.png" alt="flux cap icon" />
        </div>
        <a href="#">Flux Capacitor</a>
      </div>
      <div class="u" id="upgradeTwoContent">
        <div class="upgradeImg">
          <img src="/images/upgrades/flame.jpg" alt="flame icon" />
        </div>
        <a href="#">Flame Decals</a>
      </div>
      <div class="u" id="upgradeThreeContent">
        <div class="upgradeImg">
          <img
            src="/images/upgrades/bumper_sticker.jpg"
            alt="bumper stickers icon"
          />
        </div>
        <a href="#">Bumper Stickers</a>
      </div>
      <div class="u" id="upgradeFourContent">
        <div class="upgradeImg">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps icon" />
        </div>
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </div>
</section>