<!--  -->
<h1>
    <%= title %>
</h1>

<%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <a id="classification-button" href="/inv/classification">
                <h2>Add New Classification</h2>
            </a>

            <a id="inventory-button" href="/inv/inventory">
                <h2>Add New Vehicle</h2>
            </a>